#header-bg{
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 18%, rgba(12, 12, 12, 0.60) 46%, rgba(0, 0, 0, 0) 60%);
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 18%, rgba(12, 12, 12, 0.60) 50%, rgba(0, 0, 0, 0) 60%);
    mix-blend-mode: multiply;
}

#bg-find-car{
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
}

#check-car-bg{
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 40%, rgba(12, 12, 12, 1) 50%, rgba(0, 0, 0, 0) 90%);
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 40%, rgba(12, 12, 12, 0) 50%, rgba(0, 0, 0, 0) 90%);
    filter: brightness(50%);
}

#check-car h1{
    text-shadow: 0 5px 1px #155e75;
}

#drivers{
    background-color: rgb(20, 108, 120);
    background-color: linear-gradient(90deg, rgba(20, 108, 120, 1) 0%, rgba(0, 167, 157, 1) 100%);
    background-image: url('../img/bg-drivers-home.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}


#need-us{
    background-color: #f4f4f5;
    background-image: url('../img/bg-need-us-home.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    backdrop-filter :blur(10px);
    background-repeat: no-repeat;
}